@import "../../style.scss";
.comment {
  @include themify($themes) {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 30px;
    justify-content: space-between;
    width: 100%;
    .comment-content {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
          height: 50px;
          border-radius: 50%;
          @include mobile {
            height: 30px;
          }
        }
      }
    }
    & > span {
      color: themed("inactiveText");
    }
  }
}
