$themes: (
  light: (
    textColor: #000,
    background: #f7ede8,
    logo: #000,
    borderColor: #000,
    borderColor2: rgb(132, 135, 140),
    postBackground: #e6e7dd,
    inactiveText: grey,
  ),
  dark: (
    textColor: #ece9e8,
    background: #1a120b,
    logo: #f7ede8,
    borderColor: #f7ede8,
    borderColor2: rgb(132, 135, 140),
    postBackground: rgb(57, 57, 57),
    inactiveText: grey,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
