.chat-page {
  display: flex;
  height: 90vh;
  overflow: hidden;

  .messages {
    width: 75vw;
    padding: 20px 20px;
    background-color: rgba(158, 175, 151, 0.6);
    .msg-container-header {
      height: 45px;
      padding: 10px 10px;
      .msg-receiver {
        display: flex;
        gap: 1.2rem;
        margin: 0;
        img {
          height: 50px;
          border-radius: 50%;
        }
        .receiver-info {
          h4 {
            margin: 4px 0px;
          }
          span {
            font-style: italic;
            color: #575555;
          }
        }
      }
    }
    .msg-container-content {
      height: 75vh;
      display: flex;
      flex-direction: column-reverse;
      overflow-y: auto;
    }
    .new-msg {
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      input {
        width: 65vw;
        resize: none;
        font-size: 20px;
      }
      button {
        background: transparent;
        border-radius: 22px 22px;
      }
    }
  }
}
