@import "../../style.scss";
.posts {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  @include mobile {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
