@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import "../../style.scss";
$background: #f7ede8;
$left-card: rgb(235, 195, 14);
$focused-item: #38dbff;
.login {
  @include themify($themes) {
    a {
      text-decoration: none;
      color: themed("textColor");
      width: 80%;
    }
    height: 100vh;
    background-color: themed("background");
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
      max-width: 1000px;
      display: flex;
      border: 5px solid themed("borderColor");
      overflow: hidden;
      border-radius: 30px 30px;
      min-height: 600px;
      box-shadow: 12px 12px 0px 0px themed("borderColor");
      .left {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 0px 0px 0px 25px;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.52),
            rgba(255, 255, 255, 0.898)
          ),
          url("https://images.pexels.com/photos/2892872/pexels-photo-2892872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-size: cover;
        color: themed("textColor");
        h1 {
          font-size: 90px;
          font-weight: 100;
        }
        p {
          margin-left: 20px;
          font-size: 20px;
        }
        span {
          font-size: 26px;
        }
        button {
          width: 100%;
          font-size: 32px;
          margin-bottom: 20px;
          background-color: #dd7dff;
          box-shadow: 5px 5px 0px 0px themed("borderColor");
          transition: all 0.1s ease-in-out;
          &:active {
            box-shadow: none;
          }
        }
      }
      .right {
        background-color: themed("background");
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 0px 0px 0px 25px;
        h1 {
          font-size: 50px;
          font-weight: 400;
        }
        input {
          min-height: 30px;
          min-width: 300px;
          border: none;
          border-bottom: 1px solid themed("borderColor");
          font-size: 20px;
          &:focus {
            outline: none;
            border-bottom: 1px solid $focused-item;
          }
        }
        p {
          font-size: 20px;
        }
        span {
          font-size: 30px;
        }
        button {
          font-size: 32px;
          min-width: 80%;
          background-color: #ffb443;
          box-shadow: 5px 5px 0px 0px themed("borderColor");
          transition: all 0.1s ease-in-out;
          &:active {
            box-shadow: none;
          }
        }
      }
    }
  }
}
