.chats {
  width: 25vw;
  padding: 20px 20px;
  background-color: rgba(196, 159, 198, 0.6);
  min-height: 100vh;
  overflow-y: auto;
  & > .latest-chats {
    list-style: none;
    padding: 0;
  }
}
