@import "../../style.scss";
.comments-section {
  @include themify($themes) {
    margin-top: 20px;
    border-top: 1px solid themed("borderColor");
    padding-top: 20px;
    .new-comment {
      display: flex;
      align-items: center;
      gap: 1rem;
      .user {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img {
          height: 50px;
          border-radius: 50%;
          @include mobile {
            height: 30px;
          }
        }
      }
      input {
        font-size: 20px;
        border: none;
        border-radius: 6px 6px;
        width: 85%;
        height: 40px;
        &:focus {
          outline: none;
        }
        @include mobile {
          font-size: 16px;
          height: 24px;
        }
      }
      button {
        background-color: rgb(89, 100, 195);
        border: none;
        font-size: 20px;
        border-radius: 6px 6px;
        width: 100px;
        color: aliceblue;
        height: 40px;
        @include mobile {
          font-size: 12px;
          text-indent: 0rem;
          width: 40px;
          text: none;
          position: relative;
          height: 24px;
        }
      }
    }
  }
}
