@import "../../style.scss";

.leftbar {
  @include themify($themes) {
    flex: 1;
    background: themed(background);
    @include mobile {
      display: none;
    }
    .container {
      margin-top: 20px;
      position: sticky;
      top: 0;
      background: white;
      display: flex;
      width: 300px;
      justify-content: space-between;
      flex-direction: column;
      background: themed(background);
      color: themed(textColor);
      border-right: 1px solid themed("borderColor2");
      .item {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0px 10px 10px;
        gap: 1rem;
      }
      .section-divider {
        margin: 20px 0px 15px 10px;
        width: 90%;
        border-bottom: 1px solid themed("borderColor2");
        text-align: end;
        span {
          font-size: 14px;
          color: themed("borderColor2");
        }
      }
    }
  }
}
