.stories-bar {
  height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  &:first-child::after {
    font-size: 20px;
    padding: 5px 10px;
    color: aliceblue;
    content: "+";
    background-color: #4e50ca;
    border-radius: 50%;
    left: 8px;
    bottom: 35px;
    position: absolute;
  }
}
