@import "../../style.scss";

.navbar {
  @include themify($themes) {
    background: themed("background");
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: themed("textColor");
    @include mobile {
      justify-content: space-around;
    }
    .left {
      flex: 1;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      font-size: 2rem;
      & svg {
        color: themed("textColor");
      }
      input {
        border: 1px solid #000;
        outline: none;
        background-color: themed("postBackground");
        font-size: 20px;
        border-radius: 12px 12px;
        padding: 2px 10px;
      }
      @include mobile {
        justify-content: center;
        & > svg:first-child,
        & > svg:last-child,
        & > input {
          display: none;
        }
        margin-left: 20px;
      }
    }
    .middle {
      flex: 2;
      text-align: center;
      span {
        font-size: 80px;
        color: themed("textColor");
      }
      padding-right: 150px;
      @include mobile {
        padding-right: 0px;
        span {
          font-size: 40px;
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-around;
      & svg {
        color: themed("textColor");
      }
      @include mobile {
        flex: 1;
        gap: 2rem;
        margin-right: 12px;
        & > span {
          display: none;
        }
        & > svg:first-child {
          display: none;
        }
      }
      .user {
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        & span {
          text-decoration: none;
          color: themed("textColor");
        }

        @include mobile {
          flex: none;
          gap: 200px;
          & > span {
            display: none;
          }
        }
      }
    }
  }
}
